<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot File Upload to S3</title>
</head>
<body>
<div align="center">
    <div><h2>Spring Boot File Download from S3</h2></div>
    <div>
        <form action="upload/1234091" method="get" enctype="multipart/form-data">
            <p>
                <input type="text" name="key" value="APIs using Domain Driven Design. Domain Driven Design(DDD) purists may? _ by Shalin Garg _ Medium.pdf" required />
            </p>
            <p>
                <button type="submit">Download</button>
            </p>
        </form>
    </div>

</div>
</body>
</html>